body{
    background-color: rgb(56, 32, 32);
    color:rgb(121, 90, 90);
}

nav a{
    color:rgb(117, 68, 62);
    text-shadow: 2px 2px 2px black; 
}

footer a{
    color: black;
}
a:hover{
    color:rgb(116, 50, 50);
}
textarea{
    background-color: black;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: 4px solid rgb(112, 80, 80);
}
button[type="submit"]{
    background-color: #7e473f;
    color: rgb(228, 228, 228);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button[type="submit"]:hover{
    background-color: #b17d73;
    color: rgb(75, 60, 52);
}
button[type="reset"]{
    background-color: #832a1a;
    color: rgb(228, 228, 228);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button[type="reset"]:hover{
    background-color: #b91c00;
    color: rgb(0, 0, 0);
}
input[type="text"],
input[type="email"],
input[type="tel"]{
    width: 25%;
    padding: 10px;
    background-color:#812717;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 4px solid #000000;
    background-color: #743e35;
}
p{
    font-size: large;
}
img{
    display: grid;
    justify-content: end;
    
}
