nav a{
    color:rgb(42, 84, 112);
    text-shadow: 2px 2px 2px rgb(255, 255, 255); 
}
body{
    background-color: rgb(147, 184, 209);
}
h1{
    color: rgb(85, 131, 190);
}
a:hover{
    color:rgb(13, 42, 70);
}
td{
    padding: 10px;
    border: 3px solid rgb(255, 255, 255);
    color: rgb(18, 40, 70);
}
th{
    padding: 10px;
    border: 3px solid white;
}
a{
    color: rgb(41, 85, 151);
}