nav a{
    color:rgb(42, 84, 112);
    text-shadow: 2px 2px 2px rgb(255, 255, 255); 
}
body{
    background-color: rgb(147, 184, 209);
}
h1{
    color: rgb(50, 84, 129);
}
a:hover{
    color:rgb(0, 0, 0);
}
td{
    padding: 10px;
    border: 3px double rgb(255, 255, 255);
    color: rgb(18, 40, 70);
}
th{
    padding: 10px;
    border: 3px double white;
}
a{
    color: rgb(41, 85, 151);
}

.travelList{
    background-color: rgb(173, 201, 224);
    padding: 10px;
    grid-area: travel;
    border-radius: 5px;
    box-shadow: 0 5px 7px rgba(12, 0, 27, 0.2);
}

.foodRatings{
    background-color: rgb(173, 201, 224);
    padding: 10px;
    grid-area: food;
    border-radius: 5px;
    box-shadow: 0 5px 7px rgba(12, 0, 27, 0.2);
}


@media all and (min-width: 900px){
    main{
        display: grid;
        gap: 10px;
        grid-template-areas:
            "travel food"
            "travel food";
    }
}