nav a{
    color:rgb(110, 102, 155);
    text-shadow: 2px 2px 2px black; 
}
body{
    background-color: rgb(92, 70, 99);
}
h1{
    color: rgb(54, 35, 66);
}
p{
    font-size: large;
}
footer a{
    color: rgb(153, 103, 153);
}
a:hover{
    color: rgb(44, 17, 44);
}

.courseTalk{
    background-color: rgb(110, 82, 116);
    padding: 10px;
    grid-area: p1;
    border-radius: 5px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
}

.codeTalk{
    background-color: rgb(110, 82, 116);
    padding: 10px;
    grid-area: p2;
    border-radius: 5px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
}

@media all and (min-width: 900px){
    main{
        display: grid;
        gap: 10px;
        grid-template-areas:
            "p1 p2"
            "p1 p2";
    }
}